@charset "utf-8";
body {
    background-color: aliceblue;
    font-family: Arial, Helvetica, sans-serif;
}

h3 {
    color:lawngreen;
    margin-left: 1%;
} 

header {
    border-radius: 10px;
    border: 2px, solid, lawngreen;
    background-color: white;
    color: black;
    margin: 20px;
}

p {
    margin-left: 1%;
}

section {
    columns: 2;
}

nav {
   column-width: 50%; 
   align-items:center; 
}